{% extends "reports/report.tmpl" %}

{% block title %}
  Number of lobbyists employed by different categories of interests (FTE)
{% endblock %}

{% block script %}
  <script>
    $(function() {
      window.table = LobbyFacts.makeTable($('#table'), 'fte_by_subcategory',
          [
            { field: 'name', title: 'Category', width: '60%'},
            { field: 'representatives', title: 'Interests'},
            { field: 'members', title: 'Lobbyists'},
          ]
        );
    });
  </script>
{% endblock %}

