<table id="table"
    class="table"
    cellpadding="0" cellspacing="0" border="0">
    <thead>
        <tr></tr>
    </thead>
    <tbody>
        <tr>
            <td class="dataTables_empty" i18n:msg="loading_data" colspan="5">
                Loading data from server&hellip;
            </td>
        </tr>
    </tbody>
</table>
