<html>
  <head>
    <title>LobbyFacts.eu</title>
    <!-- Bootstrap -->
    <link href="http://assets.okfn.org/p/labs/201210/css/bootstrap.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://assets.okfn.org/p/okfn/img/favicon.ico">
  </head>
  <body>

    <h1>LobbyFacts.eu API Server</h1>

    <script src="/static/js/jquery-1.8.0.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/backbone.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
