{% extends "layout.tmpl" %}

{% block content %}
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
 <![endif]-->
    <style>
      #map { height: 500px; }
    </style>
   <div id="map"></div>
{% endblock %}

{% block script %}
<script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.0"></script>
<script>
  $(function() {
    var runningTasks = 0;
    var taskOffset = 0;
    var map = L.map('map').setView([50.85, 4.36], 6);

    var createMarkers = function(data) {
      $.each(data.results, function(i, r) {
        var randomnumber=Math.floor(Math.random()*2000)
        setTimeout(function() {
          var rad = Math.log(r.turnover_absolute || r.turnover_max || 500) * 2;
          console.log(r);
          if (!r.contact_lat) {
            return;
          }
          var marker = L.circleMarker([r.contact_lat, r.contact_lon], {
            color: 'blue',
            stroke: false,
            fillOpacity: 0.2
          }).addTo(map);
          marker.setRadius(rad);
          marker.bindPopup("<a href='http://ec.europa.eu/transparencyregister/public/consultation/displaylobbyist.do?id="+r.identification_code+"'>"+r.name+"</a> ("+r.contact_town+")")
          var marker2 = L.circleMarker([r.contact_lat, r.contact_lon], {
            color: 'blue',
            stroke: false,
            fillOpacity: 0.9
          }).addTo(map);
          marker2.setRadius(2);
          marker2.bindPopup("<a href='http://ec.europa.eu/transparencyregister/public/consultation/displaylobbyist.do?id="+r.identification_code+"'>"+r.name+"</a> ("+r.contact_town+")")
        }, randomnumber);
      });
    }
  
    $.ajax({
      url: 'http://api.lobbyfacts.eu/api/1/reports/places?limit=7000',
      dataType: 'jsonp',
      cache: false,
      success: createMarkers,
      });
    var layer = new L.StamenTileLayer("toner");
    map.addLayer(layer);
  });
</script>
{% endblock %}


